<%= form_for(@mostone) do |f| %>
  <% if @mostone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mostone.errors.count, "error") %> prohibited this mostone from being saved:</h2>

      <ul>
      <% @mostone.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.number_field :phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
